{% set draftVersion = widget.settings.draftVersion.mobile %}

<div class="widget">

{% if draftVersion == 1 %}

<div class="accordion" id="accordionExample">
    <div class="card">
        <a class="card-header text-dark p-3" id="headingOne" data-toggle="collapse" href="#jutebeutel" aria-expanded="true" aria-controls="jutebeutel">
            <span>Jutebeutel:</span>
            <span class="font-weight-bold">pink panda</span>
        </a>
        <div id="jutebeutel" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <a href="/coca-cola_136_1086">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/jutebeutel_panda_pink.jpg" alt="Coca Cola" title="Coca Cola">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 pl-0">
                        <div>
                            <a class="h4 text-appearance" href="/coca-cola_136_1086">Jutebeutel aus biologischem Anbau</a>
                        </div>

                        <div>
                            <span class="text-muted">Motiv:</span>
                            <b>panda</b>
                            <div class="v-s-boxes">
                                <div class="v-s-box bg-white active">
                                    <span class="mx-3">panda</span>
                                </div>
                                <div class="v-s-box bg-white">
                                    <span class="mx-3">unicorn</span>
                                </div>
                            </div>
                        </div>

                        <div>
                            <span class="text-muted">Farbe:</span> <b>pink</b>
                            <div class="v-s-boxes images">
                                <div data-toggle="tooltip" data-placement="top" class="v-s-box bg-white active">
                                    <div class="p-1" style="height: 100%; width: 100%;">
                                        <div style="height: 100%; width: 100%; background-color: #EC1571;"></div>
                                    </div>
                                </div>
                                <div data-toggle="tooltip" data-placement="top" class="v-s-box bg-white">
                                    <div class="p-1" style="height: 100%; width: 100%;">
                                        <div style="height: 100%; width: 100%; background-color: #ECDFD6;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <a class="card-header text-dark p-3" id="headingOne" data-toggle="collapse" href="#sonnenbrille" aria-expanded="false" aria-controls="sonnenbrille">
            <span>Sonnenbrille:</span>
            <span class="font-weight-bold">gold rot</span>
        </a>
        <div id="sonnenbrille" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <a href="/coca-cola_136_1086">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/retro_steampunk_sonnenbrille_gold_rot.jpg" alt="Coca Cola" title="Coca Cola">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 pl-0">
                        <div>
                            <a class="h4 text-appearance" href="/coca-cola_136_1086">Retro Steampunk Sonnenbrille</a>
                        </div>

                        <div>
                            <span class="text-muted">Farbe:</span> <b>pink</b>
                            <div class="v-s-boxes images">
                                <div data-toggle="tooltip" data-placement="top" class="v-s-box bg-white">
                                    <img class="p-1" src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/retro_steampunk_sonnenbrille_braun_braun.jpg">
                                </div>
                                <div data-toggle="tooltip" data-placement="top" class="v-s-box bg-white active">
                                    <img class="p-1" src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/retro_steampunk_sonnenbrille_gold_rot.jpg">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% elseif draftVersion == 2 %}

<div class="accordion" id="accordionExample2">
    <div class="card">
        <a class="card-header text-dark p-3" id="headingOne" data-toggle="collapse" href="#jutebeutel2" aria-expanded="true" aria-controls="jutebeutel2">
            <span>Jutebeutel:</span>
            <span class="font-weight-bold">pink panda</span>
        </a>
        <div id="jutebeutel2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample2">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck1" name="radio" checked>
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck1">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/jutebeutel_panda_pink.jpg">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Jutebeutel pink panda</a>
                        <div>
                            <span>Motiv:</span>
                            <strong>panda</strong>
                        </div>
                        <div>
                            <span>Farbe:</span>
                            <strong>pink</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck2" name="radio">
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck2">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/jutebeutel_panda_natur.jpg">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Jutebeutel nature panda</a>
                        <div>
                            <span>Motiv:</span>
                            <strong>panda</strong>
                        </div>
                        <div>
                            <span>Farbe:</span>
                            <strong>nature</strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>+ 1,50 €</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck3" name="radio">
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck3">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/jutebeutel_unicorn_pink.jpg">            
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Jutebeutel pink unicorn</a>
                        <div>
                            <span>Motiv:</span>
                            <strong>unicorn</strong>
                        </div>
                        <div>
                            <span>Farbe:</span>
                            <strong>pink</strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>- 2,00 €</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck4" name="radio">
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck4">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/jutebeutel_unicorn_natur.jpg">
                                </label>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Jutebeutel nature unicorn</a>
                        <div>
                            <span>Motiv:</span>
                            <strong>unicorn</strong>
                        </div>
                        <div>
                            <span>Farbe:</span>
                            <strong>nature</strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>- 4,00 €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <a class="card-header text-dark p-3" id="headingOne2" data-toggle="collapse" href="#sonnenbrille2" aria-expanded="false" aria-controls="sonnenbrille2">
            <span>Sonnenbrille:</span>
            <span class="font-weight-bold">gold rot</span>
        </a>
        <div id="sonnenbrille2" class="collapse collapsed" aria-labelledby="headingOne2" data-parent="#accordionExample2">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck5" name="radio" checked>
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck5">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/retro_steampunk_sonnenbrille_braun_braun.jpg">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Sonnenbrille braun</a>
                        <div>
                            <span>Farbe:</span>
                            <strong>braun</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 d-flex">
                        <input style="align-self: center;" type="radio" id="defaultCheck6" name="radio">
                    </div>
                    <div class="col-3">
                        <div class="square-container">
                            <div class="square-inner main-image">
                                <label for="defaultCheck6">
                                    <img src="https://cdndev.plentymarkets.com/134/frontend/Sets/Bilder_fuer_Beispielartikel/retro_steampunk_sonnenbrille_gold_rot.jpg">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <a class="h4 text-appearance" href="/coca-cola_136_1086">Sonnenbrille gold</a>
                        <div>
                            <span>Farbe:</span>
                            <strong>gold</strong>
                        </div>
                    </div>
                    <div class="col-2">
                        <div>+ 1,50 €</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% else %}



    {% for i in 1..4 %}
        <div class="row">

            <div class="col-4">
                <div class="square-container">
                    <div class="square-inner main-image">
                        <a href="/coca-cola_136_1086">
                            <img src="http://master.plentymarkets.com/documents/image/13/136/coca-cola-0-5l.jpg" alt="Coca Cola" title="Coca Cola">
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-8 pl-0">
                <div>
                    <a class="h4 text-appearance" href="/coca-cola_136_1086">Coca Cola</a>
                </div>
                <div class="text-muted small">
                    Inhalt
                    <span>500</span> <span>Milliliter</span>
                </div>

                <div class="input-unit my-3">
                    <select class="custom-select">
                        <option>Einzelflasche</option>
                        <option>6er Träger</option>
                    </select>
                    <label>Verpackung</label>
                </div>
                
                <div>
                    <span class="text-muted">Inhalt:</span>
                    <b>500 ml</b>
                    <div class="v-s-boxes">
                        <div class="v-s-box bg-white active">
                            <span class="mx-3">500 ml</span>
                        </div>
                        <div class="v-s-box bg-white">
                            <span class="mx-3">1000 ml</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <br>
        <hr>
        <br>
    {% endfor %}
    {% endif %}
</div>
